@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Caveat:wght@400..700&display=swap');

.ancizar-serif {
  font-family: 'Ancizar Serif', serif;
  font-optical-sizing: auto;
  font-weight: 700; /* You can change this */
  font-style: normal;
}

